<div *ngIf="isAuthenticated">
  <div *ngIf="showList"><!--(*ngIf) é como se fosse um if no angular, exemplo: if(showList == true) show table-->
    <p>Bem vindo {{userLogged?.user.name}}</p>
    <button class="btn-primary" style="float: right" (click)="ShowAddUser()">{{showList ? 'Novo Usuário' : 'Lista de Usuários'}}</button> <!--Fazendo com que o texto do botão mude dependendo do valor da variavel showList-->
    <p>Usuários ({{users?.length}})</p><!--definindo quantos usuarios tem na tabela, o "?" é para que caso venha Undefined ou null não ocorrer nenhum erro-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <!--Declarando para que o angular ja faça a construção da tabela sozinho ((let user of users): para cada usuario em usuarios faça o seguinte)-->
          <th scope="row">{{user.name}}</th>
          <td>{{user.mail}}</td>
          <td>
            <button class="btn btn-primary" (click)="openDetails(user)">Editar</button>
            <button type="button" class="btn btn-outline-danger" style="margin-left: 10px" (click)="delete(user.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
              </svg>
              Deletar
            </button>
          </td> <!--(click)="openDetails(user)" passando o model (user) para uma função-->

        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!showList">
    <button class="btn-primary" style="float: right" (click)="ShowAddUser()">{{showList ? 'Novo Usuário' : 'Lista de Usuários'}}</button>
    <form>
      <h5><strong>{{textheader}}</strong></h5>
      <div class="mb-3">
        <label for="Name" class="form-label">Nome:</label>
        <input class="form-control" placeholder="Nome" id="Name" aria-describedby="Name" [(ngModel)]="user.name" name="name"><!--[(ngModel)] é para passar os valores do inputa para a variavel no typeScript com angular, obs: a propriedade name tem que ter o valor igaul ao nome que está no model-->
      </div>
      <div class="mb-3">
        <label for="InputEmail" class="form-label">Email:</label>
        <input type="email" placeholder="Email" class="form-control" id="InputEmail" aria-describedby="emailHelp" [(ngModel)]="user.mail" name="mail">
        <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
      </div>
      <div class="mb-3">
        <label for="InputPassword" class="form-label">Senha:</label>
        <input type="password" placeholder="Senha" class="form-control" id="InputPassword">
      </div>
      <button type="submit" (click)="save()" class="btn btn-primary">{{textButton}}</button>
    </form>
  </div>
</div>

<div *ngIf="!isAuthenticated">
  <form>
    <h5><strong>Login</strong></h5>
    <div class="mb-3">
      <label for="InputEmail" class="form-label">Email:</label>
      <input type="email" placeholder="Email" class="form-control" id="InputEmail" aria-describedby="emailHelp" [(ngModel)]="userLogin.mail" name="mail">
      <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Senha:</label>
      <input type="password" placeholder="Senha" class="form-control" [(ngModel)]="userLogin.password" name="password" id="InputPassword">
    </div>
    <button type="submit" (click)="authenticate()" class="btn btn-primary">Entrar</button>
  </form>
</div>
